<footer>

    <div class="footer">
        <div class="help">
            <ul>
                <li class="title"><i class="fa fa-question-circle"></i>Centro de Ayuda</li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="/register">Registrate</a></li>
            </ul>
        </div>
        <div class="legal">
            <ul>
                <li class="title"><i class="fa fa-balance-scale"></i>Legal</li>
                <li>
                    <a href="#"></a>Terminos y condiciones</a>
                </li>
                <li>
                    <a href="#"></a>Politicas de privacidad</a>
                </li>
                <li>
                    <a href="#"></a>Consejos de seguridad</a>
                </li>
                <li>
                    <a href="#"></a>Reglas</a>
                </li>
            </ul>
        </div>
        <div class="services">
            <ul>
                <li class="title"><i class="fa fa-suitcase"></i>Servicios, negocios y empleo </li>
                <li>
                    <a href="#"></a>Ofertas de empleo</a>
                </li>
                <li>
                    <a href="#"></a>Busco empleo</a>
                </li>
                <li>
                    <a href="#"></a>Servicios</a>
                </li>
                <li>
                    <a href="#"></a>Negocios</a>
                </li>
            </ul>
        </div>
        <div>
            <picture>
                <img class="logoFooter" src="/images/logo.png" alt="mapas">
            </picture>
        </div>
    </div>

    <div class="copyright">
        <h4>Copyright ©️ 2022 GIANTS market</h4>
    </div>

</footer>