:root {
    --colorTextos: #49454567;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-form h1 {
    text-align: center;
    font-weight: 700;
    padding: 30px;
}

.cont-form {
    background: #eaeaea;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.p-form {
    background: #fff;
    width: 70%;
    margin: auto;
    border: 1px solid;
    box-shadow: 0 0 6px 0 rgb(255 255 255 / 80%);
    border-radius: 10px;
}

form .igroup {
    margin: 30px;
}

.f-select {
    margin-top: 5px;
    margin-left: 150px;
    width: 200px;
    height: 30px;
}

.igroup input,
.igroup textarea {
    background: none;
    color: #0a0909;
    font-size: 15px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

.igroup input:focus,
.igroup textarea:focus {
    outline: none;
    color: #5e5d5d;
}

.igroup label {
    color: var(--colorTextos);
    font-size: 16px;
    transition: 0.5s ease all;
    pointer-events: none;
}

.igroup input:focus~label,
.igroup textarea:focus~label,
.igroup input:valid~label,
.igroup textarea:valid~label {
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.ibar {
    position: relative;
    width: 100%;
}

.ibar::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #cbb914, #4568DC);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.ibar::before,
textarea:focus~.ibar::before {
    width: 100%;
}

.button {
    font-family: 'roboto';
    background: #4568DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(180deg, #B06AB3 0%, #B06AB3 49%, #4568DC 50%, #4568DC 50%);
    background-size: 1px 100px;
    background-position: 0 -50px;
    transition: all .5s;
}