* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #000;
}

div.top-header {
    display: flex;
    padding: 4%;
    align-items: center;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
}

header .form .input {
    background-color: #fff;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    border-radius: 4px;
    height: 100px;
}

header .top-header .logo img {
    width: 180px;
}

header nav {
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #1d1d1d;
    font-variant: small-caps;
}

header ul {
    display: flex;
    justify-content: space-around;
}

header ul li {
    list-style-type: none;
    padding: 10px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

header i {
    color: #fff;
}

input {
    background: #fff;
    color: #000;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}
.alert-warning{
    color:#842029;
    background-color: #F8D7DA;
    text-align: center;
    border-radius: 10px;
  }